# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Installer
*.exe
*.msi
installer.iss
install.ps1

# Build output
dist/
build/
*.spec

# FFmpeg binaries
heic_converter_pro/app/ffmpeg/

# Logs
*.log

# Config
*.local.json
